<div style="width: auto;" class="sfpuc-twitter-header">
	Tweets
	<div style="float: right; margin-top: -2px;">
		<a class="twitter-follow-button" data-show-screen-name="false" data-show-count="false" href="https://twitter.com/ivan43603328">
			Follow
		</a>
	</div>
</div>
<div style="border: solid 1px #c6c6c6;">
	<div style="margin: 0 auto; width: 95%;">
		<a class="twitter-timeline" href="https://twitter.com/ivan43603328"  data-chrome="noheader" data-widget-id="646970835752853504">Twitts from @SFPUC</a>
	</div>
</div>

<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  
  return t;
}(document, "script", "twitter-wjs"));
</script>