<link rel="stylesheet" href="/_layouts/15/sfpucBranding/navBar/css/navBar.css">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="/_layouts/15/sfpucBranding/navBar/js/navBar.js"></script>
<div id="cssmenu">
	<ul class="scroll"> 
		<li>
			<a href="#">Logos + PPT Templates</a> 
			<ul class="second-level-item"> 
				<li><a href="#">Logos</a></li> 
				<li><a href="#">Ordering Business Cards</a></li> 
				<li><a href="#">Brand Guidelines</a></li> 
				<li><a href="#">PPT Templates</a></li> 
			</ul> 
		</li> 
		<li><a href="#">Event/Presentation Requests</a></li> 
		<li><a href="#">Media Inquiries</a></li> 
		<li><a href="#">Language Access Ordinance</a></li> 
		<li><a href="#">Public Records</a></li> 
		<li><a href="#">Tours</a></li> 
		<li><a href="#">FAQs</a></li> 
	</ul>
</div>
